<div class="content" role="main">
  <h1 class="content__title">#FindYourPet</h1>

  <app-pet-list [pets]="petsList" class="content__cards">
  </app-pet-list>

  <button (click)="toggleCats()" class="content__btn">{{ btnText }}</button>
</div>
