<div class="cards__item" (click)="changeStatus(pet.id)">
    <h2 class="item__title">{{ pet.name }}</h2>
    <span>{{ pet.type }}</span>
    <div *ngIf="checkStatus(pet.id)" class="item__details">
      <span>Возраст: {{ pet.age }} г</span>
      <span>Вес: {{ pet.weight }} кг</span>
      <pre>- {{ pet.characteristics }}</pre>
      <div *ngIf="pet.trainability; else anotherDiv" class="item__details">
        <span>Знает команд: {{ pet.numberOfCommands }}</span>
        <p>- {{  pet.commands }}</p>
      </div>
      <ng-template #anotherDiv>
        <span>Команд не знает</span>
      </ng-template>
    </div>
</div>
