@dark-blue: #0c14f2;
@purple: #732372;

.cards__item {
    border: 2px dotted rgb(116, 112, 112);
    background: linear-gradient(to top left, rgb(101, 186, 199), rgb(182, 179, 179));
    color: white;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.item__title {
    color: white;
    text-shadow: 1px 1px @dark-blue, 1px -1px @purple, -1px 1px @dark-blue, -1px -1px @dark-blue, 3px 3px 6px rgba(0,0,0,.5);

}

.item__details {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
